body, header, footer{
    background-color: rgb(240, 200, 142);
}
.bg-brown, .floatingButton{
    background-color: rgb(180, 134, 65);
}

.border-brown, .floatingButton{
    border: 3px solid rgb(117, 88, 44);
 }
header{
    position:fixed;
    top:0%;
    width: 100%;
    height: auto;
    z-index: 1;
}
main{
    position:relative;
    height: 70vh;
    top: 130px;
    overflow: scroll;
}
footer{
    position: fixed;
    width: 100%;
    height: 15%;
    bottom: 0px;
    text-align: center;
    
}



.title{
    color: white;
    text-align: center;
    font-weight: bold;
}
.name{
    color: white;
    text-align: center;
    font-weight: bold;
}
.montant{
    text-align: center;
}

.round-corner{
    border-radius: 30px;
}
.floatingButton{
    border-radius: 100%;
    padding: 3%;
     
}