body{
    background-color: rgb(240, 200, 142);
}
footer{
    position: fixed;
    width: 100%;
    bottom: 10px;
     text-align: center;
}
.bg-brown{
    background-color: rgb(180, 134, 65);
    
}
.border-brown{
    border: 3px solid rgb(117, 88, 44);
 }
.title{
    color: white;
    text-align: center;
    font-weight: bold;
}
.name{
    color: white;
    text-align: center;
    font-weight: bold;
}
.montant{
    text-align: center;
}

.round-corner{
    border-radius: 30px;
}
.floatingButton{
    border-radius: 100%;
    padding: 0%;
    background-color: red;
    
}